html.dark {
  --color: #d9d9d9;
  --header-background-color: black;
  --tab-background-color: black;
  --background-color: black;
  --shortcut-color: inherit;
  --shortcut-background-color: transparent;
  --shortcut-hover-color: #1da1f2;
  --shortcut-hover-background-color: #1da1f21a;
  --userlist-color: white;
  --userlist-hover-color: white;
  --userlist-hide-color: black;
  --form-color: white;
  --form-background-color: #2c2f33;
  --form-boder-color: #23272a;
  --button-color: white;
  --button-background-color: #1da1f2;
  --button-hover-background-color: #1a91da;
}
