html.light {
  --color: #2c2c2c;
  --header-background-color: white;
  --tab-background-color: white;
  --background-color: white;
  --shortcut-color: inherit;
  --shortcut-background-color: transparent;
  --shortcut-hover-color: #1da1f2;
  --shortcut-hover-background-color: #1da1f21a;
  --userlist-color: black;
  --userlist-hover-color: black;
  --userlist-hide-color: white;
  --form-color: black;
  --form-background-color: #dddddd;
  --form-boder-color: #cfcfcf;
  --button-color: white;
  --button-background-color: #1da1f2;
  --button-hover-background-color: #1a91da;
}
