html {
    width: 100%;
    height: auto;

    --header-height: 23px;
}

body {
    margin: 0px;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    user-select: none;

    &:hover, &:focus {
        outline: none;
    }
}

// Content ----------------------------------------

header {
    -webkit-app-region: drag;

    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--header-height);

    background-color: var(--header-background-color);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

// Navigation -------------------------------------

main {
    width: 100%;
    min-height: 100vh;
    padding: var(--header-height) 0px 0px 0px;

    background-color: var(--background-color);
    color: var(--color);

    h1 {
        margin-top: 20px;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.04em;
    }

    nav {
        width: 100%;
    }

    .tabs {
        width: 100%;
        position: fixed;
        background-color: var(--tab-background-color);
        z-index: 99999;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: stretch;

            list-style: none;
            padding: 0px;
            margin: 0px;

            li {
                width: 100%;
                text-align: center;
                color: #6e767d;

                button {
                    appearance: none;
                    background-color: transparent;
                    border: 0px solid transparent;
                    cursor: pointer;

                    width: 100%;

                    color: inherit;
                    font-size: 15px;
                    font-weight: 700;

                    padding: 15px;

                    border-bottom: 2px solid transparent;

                    &:hover {
                        background-color: rgba(29, 161, 242, 0.1);
                        color: rgb(29, 161, 242);
                    }

                    &[data-active="true"] {
                        border-bottom-color: rgb(29, 161, 242);
                        color: rgb(29, 161, 242);
                    }
                }
            }
        }
    }

    .tab-content {
        padding: 65px 20px 20px 20px;
    }

    .shortcuts {
        width: 100%;

        h1 {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;

            li {
                margin-bottom: 10px;

                button {
                    appearance: none;
                    background-color: var(--shortcut-background-color);
                    color: var(--shortcut-color);
                    border: 0px solid transparent;
                    cursor: pointer;

                    padding: 10px;
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    border-radius: 9999px;

                    &:hover {
                        background-color: var(--shortcut-hover-background-color);
                        color: var(--shortcut-hover-color);
                    }

                    svg {
                        height: 1.25rem;
                        fill: currentColor;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 700;
                        margin: 0px 15px;
                        color: inherit;
                    }
                }

                &:last-child {
                    position: absolute;
                    bottom: 10px;
                    left: 25px;
                    right: 25px;
                }
            }
        }
    }

    .directory {
        display: flex;
        flex-direction: column;
        align-items: center;

        code {
            font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
            font-size: 12px;
            user-select: text;

            width: 100%;
            max-width: 100%;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;

            margin-bottom: 10px;
        }
    }

    .media {
        display: flex;
        flex-direction: column;
        align-items: center;

        .checkbox-group {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            font-size: 14px;

            label {
                margin-left: 5px;
            }
        }

        #userlist {
            width: 100%;
            margin-bottom: 50px;
            display: grid;
            grid-template-columns: 50% 50%;

            .user {
                appearance: none;
                background-color: transparent;
                color: var(--userlist-color);
                border: 0px solid transparent;
                padding: 20px;
                text-align: center;

                position: relative;

                &:hover {
                    cursor: pointer;
                    color: var(--userlist-hide-color);

                    &::before {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        left: 0px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: var(--userlist-hover-color);
                        background-color: rgba(255, 0, 0, 0.2);
                        border-radius: 10px;

                        content: "Remove";
                    }
                }
            }
        }

        .form-control {
            position: fixed;
            width: calc(100% - 25px*2);
            bottom: 20px;
            left: 25px;
            right: 25px;
        }
    }
}

// Inputs -----------------------------------------

.form-control {
    width: 100%;

    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;

    color: var(--form-color);
    background-color: var(--form-background-color);
    background-clip: padding-box;
    border: 1px solid var(--form-border-color);

    &:focus {
        outline: 0;
    }
}

.button {
    appearance: none;
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: 0px solid transparent;
    cursor: pointer;

    padding: 10px 15px;
    border-radius: 9999px;

    font-weight: 500;
    max-width: max-content;

    transition: ease-in-out background-color 0.2s;

    &:hover {
        background-color: #1a91da;
    }
}
